<div id="<%= dom_id atelier %>">
  <p>
    <strong>Name:</strong>
    <%= atelier.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= atelier.description %>
  </p>

  <p>
    <strong>Domains:</strong>
    <%= atelier.domains %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= atelier.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= atelier.ended_at %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= atelier.image %>
  </p>

  <p>
    <strong>Credits:</strong>
    <%= atelier.credits %>
  </p>

  <p>
    <strong>Tools:</strong>
    <%= atelier.tools %>
  </p>

</div>
