<%= simple_form_for atelier do  |f| %>

<% if atelier.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(atelier.errors.count, "error") %> prohibited this atelier from being saved:</h2>

      <ul>
        <% atelier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= f.input :name %>
<%= f.input :domains%>
<%= f.input :description %>
<%= f.input :started_at %>
<%= f.input :ended_at %>
<%= f.input :image %>
<%= f.input :credits %>
<%= f.input :tools %>

<%= f.button :submit %>


<% end %>


