

    <%= simple_form_for atelier do  |f| %>

    <% if atelier.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(atelier.errors.count, "error") %> prohibited this atelier from being saved:</h2>

        <ul>
          <% atelier.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
        <div class="row ">
          <div class="form-group col">
            <%= f.input :name, type: "string", class: "form-control", placeholder: "Refonte web", label: "Nom du Projet"%>
          </div>
          <div class="form-group col">
            <%= f.input :domains, type: "text", class: "form-control", label: "Domaine - choisir un domaine", collection: Atelier.domains.keys %>
          </div>
        </div>

      <div class="form-group">
        <%= f.input :description, type: "text", class: "form-control", placeholder: "Dans ce projet nous devions...", label: "description" %>
      </div>

      <div class="row ">
        <div class="form-group col">
          <%= f.input :started_at, type: "text", class: "form-control", label: "Date de début" %>
        </div>

        <div class="form-group col">
          <%= f.input :ended_at, type: "text", class: "form-control", label: "Date de fin" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.input :image, type: "text", class: "form-control", placeholder: "https:// ", label: "Image" %>
      </div>

      <div class="form-group">
        <%= f.input :tools, type: "text", class: "form-control", placeholder: "domaine", label: "Outils utilisés" %>
      </div>

      <div class="form-group">
        <%= f.input :credits, type: "text", class: "form-control",placeholder: "collaborateur n°1", label: "Crédits - vos collaborateurs" %>
      </div>

    <div class="d-flex justify-content-end">
      <%= f.button :submit %>
    </div>

<% end %>


