
<div class="container">
  <div class="w-60 mx-auto">
    <%= simple_form_for atelier do  |f| %>

    <% if atelier.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(atelier.errors.count, "error") %> prohibited this atelier from being saved:</h2>

        <ul>
          <% atelier.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <div class="d-flex justify-content-center">
        <div class="form-group col-md-4">
          <%= f.input :name, type: "string", class: "form-control", placeholder: "mon atelier de bg", label: "Titre du projet"%>
        </div>
        <div class="form-group  col-md-4">
          <%= f.input :domains, type: "text", class: "form-control", placeholder: "letsgo", label: "Domaine - choisir un domaine", collection: Atelier.domains.keys %>
        </div>
      </div>

      <div class="form-group">
        <%= f.input :description, type: "text", class: "form-control", placeholder: "domaine", label: "description" %>
      </div>

      <div class="form-group">
        <%= f.input :started_at, type: "text", class: "form-control", placeholder: "domaine", label: "Date de début" %>
      </div>

      <div class="form-group">
        <%= f.input :ended_at, type: "text", class: "form-control", placeholder: "domaine", label: "Date de fin" %>
      </div>

      <div class="form-group">
        <%= f.input :image, type: "text", class: "form-control", placeholder: "domaine", label: "Image" %>
      </div>

      <div class="form-group">
        <%= f.input :credits, type: "text", class: "form-control", placeholder: "domaine", label: "Crédits" %>
      </div>

      <div class="form-group">
        <%= f.input :tools, type: "text", class: "form-control", placeholder: "domaine", label: "Outils utilisés" %>
      </div>

      <%= f.button :submit %>
  </div>

<% end %>


