<p style="color: green"><%= notice %></p>

<%= render @atelier %>

<div>
  <%= link_to "Modifier atelier", edit_atelier_path(@atelier) %> |
  <%= link_to "Mes ateliers", ateliers_path %>

  <%= button_to "Supprimer cet atelier", @atelier, method: :delete %>
</div>
