<p style="color: green"><%= notice %></p>

<%= render @atelier %>

<div>
  <%= link_to "Edit this atelier", edit_atelier_path(@atelier) %> |
  <%= link_to "Back to ateliers", ateliers_path %>

  <%= button_to "Destroy this atelier", @atelier, method: :delete %>
</div>
